@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  margin: 0;
  padding: 0 20px;

  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  background-color: #ffe17f;
  margin-top: 40px;
  padding-bottom: 107px;
}

.header-content {
  width: 1040px;
  margin: 0 auto;
  margin-top: -23px;
}

.header-logo {
  position: relative;

  display: inline-block;
  margin-bottom: 25px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-logo:active {
  opacity: 0.3;

  outline: none;
}

.wrapper-user-menu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-form {
  position: relative;

  display: flex;
  width: 517px;
  margin-right: 26px;
}

.search-name {
  z-index: 10;
}

.search-name::before {
  position: absolute;
  top: 12px;
  left: 16px;

  width: 16px;
  height: 16px;
  background-image: url("../images/icons/icon-search.svg");
  background-repeat: no-repeat;

  content: "";
}

.search-name::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: none;
  width: 357px;
  height: 40px;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;

  content: "";
}

.search-name:focus-within::after {
  display: block;
}

.input-search {
  box-sizing: border-box;
  width: 357px;
  padding: 8px 45px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0px 0px 50px;
  outline: none;

  cursor: pointer;
}

.input-search::-webkit-search-cancel-button {
  display: none;
}

.input-search:disabled {
  opacity: 0.3;
}

.button-search {
  box-sizing: border-box;
  width: 160px;
  padding: 8px 55px;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;

  outline: none;
  cursor: pointer;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;
}

.button-search::before {
  position: absolute;
  top: 0;
  left: 357px;

  display: none;
  width: 160px;
  height: 40px;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;

  content: "";
}

.button-search:focus-within::before {
  display: block;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;

  outline: none;
}

.button-search:disabled {
  opacity: 0.3;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.user-link {
  position: relative;

  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.link-enter {
  padding-left: 27px;
}

.link-enter::before {
  position: absolute;
  top: 5px;
  left: 0;

  width: 15px;
  height: 12px;

  background-image: url("../images/icons/icon-enter.svg");
  background-repeat: no-repeat;

  content: "";
}

.user-submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 241px;
}

.submenu-item {
  position: relative;
}

.link-compare {
  padding-left: 23px;
}

.link-compare::before {
  position: absolute;
  top: 5px;
  left: 0;

  width: 10px;
  height: 12px;

  background-image: url("..//images/icons/icon-compare.svg");
  background-repeat: no-repeat;

  content: "";
}

.link-basket {
  padding-left: 43px;
}

.link-basket::before {
  position: absolute;
  top: 2px;
  left: 15px;

  width: 16px;
  height: 14px;

  background-image: url("../images/icons/icon-basket.svg");
  background-repeat: no-repeat;

  content: "";
}

.link-basket::after {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;

  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  background-color: #ffffff;
  border-radius: 50%;

  content: "2";
}

.basket-item:hover .popover {
  display: block;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.user-link:active {
  opacity: 0.3;
}

.navigation {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catalog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 293px;
}

.catalog:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.link-catalog {
  z-index: 1;

  padding: 10px 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.link-catalog:hover {
  opacity: 0.6;
}

.link-catalog:active {
  opacity: 0.3;
}

.catalog-button {
  z-index: 1;

  position: relative;

  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.catalog-button::before,
.catalog-button::after {
  position: absolute;
  top: 15px;
  left: 22px;


  width: 2px;
  height: 16px;

  background-color: #000000;

  content: "";
}

.catalog-button::after {
  transform: rotate(90deg);
}

.catalog:hover .catalog-button {
  opacity: 1;
}

.catalog:hover .catalog-button::before {
  opacity: 0;
}

.catalog:hover  .catalog-wrapper{
  display: block;
}

.catalog-wrapper {
  position: absolute;
  top: 30px;
  left: -60px;

  display: none;
  width: 1160px;
  z-index: 0;
}

.catalog-menu-wrapper {
  display: flex;
  min-height: 147px;
  padding: 33px 60px 0 60px;

  background-color: #ffe17f;
}

.catalog-menu {
  min-width: 211px;
}

.catalog-menu:first-child {
  min-width: 222px;
  margin-right: 30px;
}

.catalog-item {
  margin-bottom: 17px;
}

.catalog-link {
  box-sizing: border-box;
  padding-bottom: 2px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.catalog-link-active {
  border-bottom: 1px solid black;
}

.catalog-link:hover {
  opacity: 0.6;
}

.catalog-link:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-link:active {
  opacity: 0.3;

  outline: none;
}

.navigation-menu {
  z-index: 1;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
}

.navigation-item:not(:nth-child(3)) {
  margin-right: 43px;
}

.navigation-link {
  padding-bottom: 4px;

  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-active {
  border-bottom: 2px solid #000000;
}

/* ПОПОВЕР */

.popover {
  position: absolute;
  top: 34px;
  right: -78px;
  z-index: 10;

  display: none;
  box-sizing: border-box;
  width: 320px;
  min-height: 301px;

  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.popover::before {
  position: absolute;
  top: -4px;
  left: 154px;

  width: 10px;
  height: 10px;

  background-color: #000000;

  transform: rotate(45deg);
  content: "";
}

.popover-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.popover-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-link {
  display: flex;
  align-items: center;
  margin-right: 10px;

  color: inherit;
  text-decoration: none;
}

.popover-link:hover {
  opacity: 0.6;
}

.popover-link:focus-within {
  outline: 2px solid #7B61FF;
  outline-offset: 2px;
}

.popover-link:active {
  opacity: 0.3;

  outline: none;
}

.popover-image {
  margin-right: 23px;
}

.popover-title {
  width: 151px;
  height: 40px;
  margin: 0;
}

.popover-button-delete {
  width: 10px;
  height: 10px;

  background-color: transparent;
  background-image: url(../images/icons/popover-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.popover-button-delete:hover {
  opacity: 0.6;
}

.popover-button-delete:focus-within {
  outline: 2px solid #7B61FF;
  outline-offset: 2px;
}

.popover-button-delete:active {
  opacity: 0.3;

  outline: none;
}

.popover-total {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;

  background-color: #1A1A1A;
}

.popover-button-open {
  width: 280px;
  margin: 20px;
  padding: 15px 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

.popover-button-open:hover {
  background-color: #ffe17f;
}

.popover-button-open:focus-within {
  outline: 2px solid #7B61FF;
  outline-offset: 2px;
}

.popover-button-open:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.popover-button-open:disabled {
  opacity: 0.3;
}

